body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: lightskyblue;
    color: darkblue;


}

img{
    width: 200px;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.textcontainer{
    height: 500px;
}